# Dependencies
node_modules
npm-debug.log

# Build outputs
dist
coverage
.nx/cache

# Version control
.git
.gitignore

# Environment files
.env
.env.*

# IDE files
.idea
.vscode
*.swp
*.swo

# Test files
**/*.spec.ts
**/*.test.ts

# OS files
.DS_Store
Thumbs.db
